*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #F5F5F5;
    font-size: 15px;
}
#main {
    width: 1832px;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
}
#header {
    position: relative;
    width: 1832px;
    height: 96.25px;
    border-bottom: 1px solid rgba(0,0,0,0.69);  
    display: flex; 
    justify-content: center;
    align-items: center;
}
i {
    font-size: 33px;
}
.header-mid {
    position: absolute;
    height: 64.79px;
    font-size: 40px;
    font-weight: medium;
    line-height: 48.41px;
    bottom: 25.64%;
    top: 0.47%;
    display: flex;
    align-items: center;
    text-align: center;
}

.nav-left, .nav-right {
    display: flex;
    align-items: center;
    position: absolute;
}
.nav-left{
    
    left: 2%;
    right: 67.12%;
    top: 0%;
    bottom: 0%;
}
.nav-left > div {
    display: flex;
    align-items: center;
}
.sub-nav {
    padding: 0 10px;
}
.nav-right {
right: 2.47%;
top: 0%;
bottom: 5.06%;
}

.nav-right .sub-nav {
    padding-right: 25.63px;
}

#banner {
position: relative;
margin-top: 23px;
margin-left: 3%;
}
#banner > img {
    width: 1730px;
    height: 760px;
}

#product {
    position: relative;
    width: 1802.55px;
    height: 1500px;
}
.nav-product {
position: absolute;
width:1802.55px;
display: flex;
font-weight: 700;
font-size: 23px;
line-height: 28px;

display: flex;
align-items: center;
line-height: 28px;
margin-left: 3%;
margin-top: 92px;
}
#nav-sort {
position: absolute;
width: 321px;
height: 28px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 23px;
line-height: 28px;
color: #000000;
display: flex;
align-items: center;
right: 0;
top: -10px;
}
#nav-sort > div {
    box-sizing: border-box;
    position: absolute;
    width: 133px;
    height: 34px;
    border: 1px solid #000000;
    border-radius: 8px;
    right: 22%;
    top: 11px;
    border-radius: 8px;
    font-size: 15px;
    line-height: 18px;
    padding-left: 10px;
    
}
.color-skin{
    cursor: pointer;
}
#nav-sort > div > i {
    font-size: 14px;
    position: absolute;
    top: 7px; 
    right: 14px;
}
.row {
    position: relative;
}
.listcard {
    margin-top: 0px;
    position: absolute;
    top:145px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.card {
    /* flex-basis: 22%; */
    margin: 0px -14px 100px 52px;
    width: 380px;
    height: 602px;
}
.skin {
    display: flex;
}
.color-skin{
    box-sizing: border-box;
    margin-top: 26px;
    margin-right: 13px;
    margin-bottom: 21px;
    width: 37px;
    height: 27px;
    border: 1px solid #000000;
    border-radius: 5px;
}
.sub-card {
    font-size: 20px;
    line-height: 24px;
    width: 380px;
}
.name {
    height: 36px;
    font-weight: 400;
}

.price {
    height: 29px;
    font-weight: 700;
}
.list-bonus {
    position: absolute;
    top: 1434px;
}
.list-bonus, .list-bonus-new,.design {
    width:331px;
    height:53px;
    left: 45%;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;   
    border: 2px solid #000000;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#content {
    width: 100%;
    height: 860px;
    position: relative;
}
.content-box {
    position: absolute;
    width: 991px;
    height: 639px;
    background: #FFFFFF;
    border: 1px solid #000000;
    top: 102px;
    left: 693px;
}
.title-content {
    width: 787px;
    height: 184px;
    font-weight: 500;
    font-size: 60px;
    line-height: 73px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-left: 30px;
    margin-bottom: 18px;
}
.sub-content {
    width: 787px;
    height: 499px;
    font-weight: 500;
    font-size: 30px;
    line-height: 44px;
    text-align: justify;
    margin-left: 147px;
}
#new-product{
    position: relative;
    height: 757px;
}
.listname {
    position: absolute;
    top: 54px;
    left: 3%;
    height: 28px;
    font-weight: 700;
    font-size: 23px;
    line-height: 28px;
}
#new-product {
    width: 98.5%;
}
#new-product > .row {
    width: 98,5%;
    top:-33px;
}
#new-product > .row > .listcard {
    width: 100%;
}
.list-bonus-new {
    position: absolute;
    bottom: 0;
}
#content2 {
    display: flex;
    margin-top: 107px;
    margin-bottom: 136px;
}

.content2-left > .title-content {
    margin-right: 47px;
    
}
.content2-left > .sub-content {
    position: relative;
    margin-left: 3%;
    margin-right: 89px;
    

}
.design {
    position: absolute;
    left: 183px;
    bottom: 0px;
}
.content2-right{
    position: relative;
    width: 890px;
}
.content2-right > img{
    position: absolute;
    width: 890px;
    height:698px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.content2-right div {
    position: absolute;
    width: 890px;
    height:698px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
} 
#footer {
    height: 431px;
    background: #1C1B1B;
    color: #FFFFFF;
}
.footer-title {
    width: 100%;
    height: 48px;
    margin-top: 51px;
    margin-bottom: 26px;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.line {
    width: 93.7%;
    height: 0px;
    border: 1px solid rgba(254, 254, 254, 0.16);
    margin: auto;
}
.footer-sub {
    display: flex;
    margin-top: 45px;
    margin-left: 186px;
    margin-bottom: 29px;
}
.footer-sub > div {
    width: 233px;
    height: 152px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-right: 101px;
}
.footer-sub > div> div {
    
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}
a {
    text-decoration: none;
    color: #FFFFFF;
}
.footer-sub .recruitment {
    width: 200px;
    height: 91px;
}

.footer-sub .contact {
    width: 254px;
    height: 224px;
    
}
.footer-sub >.contact > .send {
    width: 170px;
    height: 44px;
    background: #212121;
    border: 0.5px solid #FFFFFF;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -120px;
}
.send .title-contact {
    width: 93px;
    height: 18px;
    margin-top: 8px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    
}
.send-sub {
    width: 144px;
    height: 10px;
    font-weight: 500;
    font-size: 8px;
    line-height: 10px;
    display: flex;
    align-items: flex-end;
    color: #FFFFFF;
}

.contact-inf {
    display: flex;
}
.contact-inf > div {
    width: 250px;
    height: 36px;
    text-align: start;
    font-size: 14px;
    line-height: 17px;
}
.contact-inf > img {
    background-color: #FFFFFF;
    border-radius: 50%;
    margin-right: 9px;
}