* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.card {
    margin: auto;
    width: 360px;
    height: 480px;
    font-family: sans-serif;
    position: relative;
    box-shadow: 3px 3px rgba(90, 87, 87, 0.3);
    border-radius: 3px;
}
.date {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
   top: 15px;
   right: 15px;
}
.photo{
    /* background-image: url(newyork.jpeg);
    background-size: cover; */
    width: 360px;
    height: 340px;
    position: relative;
    overflow: hidden; 
    display: flex;
    z-index: 0;
}
button {
    background-color: #f2533f;
    color: white;
    font-weight: bold;
    border: none;
    font-size: 15px;
}
.category {
    position: absolute;    
    bottom: 0px;
    height: 25px;
    width: 75px;
    display: flex;
    z-index: 3;
    padding: 5px;
}

.sub {
    overflow: hidden;
    height: 0px;
    color: #757575;
    line-height: 28px;
}
.click {
    display: flex;
    z-index: 5;
}
h1{
    padding: 10px 0px;
    
}
p{
    font-size: 20px;
    color: #ee5108;
    font-weight: bold;
    padding-bottom: 20px;
}
.footer {
    color: #757575;
    display: flex;
    padding: 15px 0px;
}
.minute {
    margin-right: 15px;
    margin-left: 5px;
}


.body-card {
    height: 250px;
}

.card:hover .sub {
  height: auto;
}

.card:hover .body-card {
    transition: 0.3s ease ;
  height: 320px;
}
img {
    width: 100%;
    height: 360px;
}
.card:hover .photo {
    transition: 0.3s ease ;
    height: 200px;
}

.card:hover  .photo::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    transition: background-color 0.6s ease;
  }
.click {
    margin-bottom: 3px;
}