.card:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;

}
.card {
    color: black;
    text-decoration: none;
}
.card-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-height: 30px;
}
.card img {
    max-height: 185px;
}
