*{
    margin: 0;
    box-sizing: border-box;
}
#main{
    width: 100%;
}

body {
    font-size: 12px;
}
#head-bar{
    background-color: #0076c0;
    width: 100%;
    min-height: 30px;
    color: #fff;
}
#header{
    width: 100%;
    min-height: 70px;
    position: relative;
}

#header_left {
    font-family: 'Permanent Marker', cursive;
    color: #0076c0;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
cursor: pointer;
    /* padding-top: 10px; */
}

#category >button {
    border-radius: 5px;
    width: 40px;
    margin-right: 10px;
}

#search, #category {
    display: flex;
    justify-content: center;
    align-items: center;
}
#search > input {
    width: 400px;
}
#search > input, #search > button,  #category >button{
    height: 40px;

}

#search > button {
    background-color: #009cda;
    width: 40px;
}
#cart{
    cursor: pointer;
}
#cart-icon, #account-icon {
margin-top: 15px;
} 
#cart-sub, #account-sub{
    text-align: center;
}
#category{
    position: relative;
}

#category-list{
    position:absolute;
    top: 0;
    height: 100%;
}
li{
    text-decoration: none;
    list-style: none;
}
#account {
    cursor: pointer;

}
#account-sub{
    position: relative;
}
#account-option {
    position: absolute;
    top: 64px;
    z-index: 10;
    background-color: #fff;
    font-size: 1.2em;
    line-height: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}
#account-option ul {
    padding: 0;
}
#account-option ul li {
    padding: 20px 0;
    text-align: center;
    min-width: 180px;
    cursor: pointer;
}
#account-option ul li:hover {
    background-color: #c4c4c4;
}
.container {
    z-index: 1;
}
#category {
    position: relative;
}
#category-list {
    position: absolute;
}